nodered/flows.json
[
    {
        "id": "fc36e552fabb57dc",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e7b141167d24710c",
        "type": "mqtt-broker",
        "name": "test_chirpstack",
        "broker": "chirpstack.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c0fdaf5f04b80540",
        "type": "mqtt-broker",
        "name": "mqtt_iut_sae",
        "broker": "mqtt.iut-blagnac.fr",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "55820303c8f21475",
        "type": "mqtt in",
        "z": "fc36e552fabb57dc",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c0fdaf5f04b80540",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "9f923b2297803da5"
            ]
        ]
    },
    {
        "id": "9f923b2297803da5",
        "type": "debug",
        "z": "fc36e552fabb57dc",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 580,
        "wires": []
    },
    {
        "id": "f5fe9967a2e079b7",
        "type": "comment",
        "z": "fc36e552fabb57dc",
        "name": "pour leo et bastien",
        "info": "il faut changer le sujet pour cibler\nce que l'on veut si j'ai bien compris",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "de7560fe5fab452d",
        "type": "comment",
        "z": "fc36e552fabb57dc",
        "name": "<3",
        "info": "",
        "x": 670,
        "y": 420,
        "wires": []
    }
]